{% extends "base.html" %}

{% block content %}
    <h5>Мы гордимся тем, что наши клиенты доверяют нам свою работу и получают отличные результаты благодаря использованию наших решений. Среди наших партнеров крупные промышленные предприятия, транспортные компании, медицинские учреждения и многие другие организации, работающие в самых разных сферах экономики.</h5>
    <p></p>
    <h5>Вот что говорят наши клиенты:</h5>
    <h5><i>«Работа с NextGen AI позволила нам автоматизировать процесс сортировки изделий, сократив количество брака почти вдвое. Качество нашего производства заметно улучшилось, а затраты снизились».</i></h5>
    <h6>— ООО «Металлист», директор производственного отдела.</h6>
    <p></p>
    <h5><i>«Использование решений от NextGen AI помогло нам создать систему видеонаблюдения нового поколения, способную выявлять подозрительные события и предотвращать возможные угрозы».</i></h5>
    <h6>— АО «Безопасность города», руководитель службы технической поддержки.</h6>




{% endblock %}